---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import HeaderCard from '../components/HeaderCard.astro';
import Skills from '../components/Skills.astro';
import TechStackCard from '../components/TechStackCard.astro';
import ProjectCard from '../components/ProjectCard.astro';

const stack = await getCollection('stack');
const projects = await getCollection('projects');
---

<BaseLayout>
  <div class="flex flex-col md:gap-64">
    <div class="wrapper flex flex-col gap-8 lg:gap-20 md:min-h-0 min-h-[calc(100vh-7rem)]">
      <header class="hero flex flex-col justify-center items-center text-center md:text-left mt-64 2xl:mt-64 md:mt-56">
        <Hero
          title="Web developer."
          tagline="Hi! I'm a web developer who likes to craft products with great user experiences."
          align="center"
        />
				<div class="flex gap-8 2xl:gap-16 mt-44 2xl:mt-64 md:flex-row flex-col">
					<div class="opacity-0 animate-fade-in-up delay-100">
						<HeaderCard
							icon="code"
							title="Coding"
							description="I can transform designs into responsive and accessible websites using HTML, CSS, and modern web technologies."
						/>
					</div>
					<div class="opacity-0 animate-fade-in-up delay-300">
						<HeaderCard
							icon="terminal-window"
							title="Web Applications"
							description="I build interactive web applications using Javascript and frameworks like Vue.js and Nuxt.js."
						/>
					</div>
					<div class="opacity-0 animate-fade-in-up delay-500">
						<HeaderCard
							icon="speedometer"
							title="Optimization"
							description="I optimize websites and applications for better performance, SEO, faster load times on all devices."
						/>
					</div>
				</div>				
				
      </header>
    </div>
    <div class="wrapper pb-10 mt-48 md:mt-0">
      <Skills />
    </div>

    <main class="wrapper flex flex-col gap-20 lg:gap-72 md:pt-0 pt-60 pb-8 md:pb-0">
      <!-- 
        <div class="cta self-end">
          <CallToAction href="/assets/cv.pdf" download>
            Download my cv
            <Icon icon="download" size="1.4em" />
          </CallToAction>
        </div>
      </section> -->

      <section class="section with-background bg-variant md:pt-0 py-28" id="stack">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Tech stack</h2>
          <p>There is list of my favorite technologies I enjoy work with.</p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {stack.map((s) => (
              <TechStackCard title={s.data.title} img={s.data.img} />
            ))}
          </Grid>
        </div>
      </section>

      <section class="section with-background bg-variant md:pt-0 py-28" id="references">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Projects and references</h2>
          <p>Here are some projects I did or I have been a part of</p>
        </header>

        <div class="gallery pb-8">
          <Grid variant="stack">
            {projects.map((project) => (
              <ProjectCard
                href={`/projects/${project.id}`}
                title={project.data.title}
                img={project.data.img}
                padding={project.data.padding}
              />
            ))}
          </Grid>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
