---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import HeaderCard from '../components/HeaderCard.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const stack = await getCollection('stack');
const projects = await getCollection('projects');
---

<BaseLayout>
  <div class="flex flex-col md:gap-64">
    <div class="wrapper flex flex-col gap-8 lg:gap-20 md:min-h-0 min-h-[calc(100vh-7rem)]">
      <header class="hero flex flex-col justify-center items-center text-center md:text-left mt-64 2xl:mt-64 md:mt-56">
        <Hero
          title="Web developer."
          tagline="Hi! I'm a web developer who likes to craft products with great user experiences."
          align="center"
        />
				<div class="flex gap-8 2xl:gap-16 mt-44 2xl:mt-64 md:flex-row flex-col">
					<div class="opacity-0 animate-fade-in-up delay-100">
						<HeaderCard
							icon="code"
							title="Coding"
							description="I can transform designs into responsive and accessible websites using HTML, CSS, and modern web technologies."
						/>
					</div>
					<div class="opacity-0 animate-fade-in-up delay-300">
						<HeaderCard
							icon="terminal-window"
							title="Web Applications"
							description="I build interactive web applications using Javascript and frameworks like Vue.js and Nuxt.js."
						/>
					</div>
					<div class="opacity-0 animate-fade-in-up delay-500">
						<HeaderCard
							icon="speedometer"
							title="Optimization"
							description="I optimize websites and applications for better performance, SEO, faster load times on all devices."
						/>
					</div>
				</div>				
				
      </header>
    </div>
    <div class="wrapper pb-10 mt-48 md:mt-0">
      <Skills />
    </div>

    <main class="wrapper flex flex-col gap-20 lg:gap-72 md:pt-0 pt-60 pb-8 md:pb-0">
      <!-- 
        <div class="cta self-end">
          <CallToAction href="/assets/cv.pdf" download>
            Download my cv
            <Icon icon="download" size="1.4em" />
          </CallToAction>
        </div>
      </section> -->

      <section class="section with-background bg-variant md:pt-0 py-28" id="stack">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Tech stack</h2>
          <p>There is list of my favorite technologies I enjoy work with.</p>
        </header>

        <div class="gallery">
          <Grid variant="small">
            {
              stack.map((s, index) => (
                <li class="mention-card card-box">
                  <p>
                    <img
                      class="w-14 h-14 sm:w-16 sm:h-16 md:w-20 md:h-20"
                      src={s.data.img}
                      alt={`${s.data.title} logo`}
                      decoding="async"
                      loading="lazy"
                    />
                    <sub class="text-base">{s.data.title}</sub>
                  </p>
                </li>
              ))
            }
          </Grid>
        </div>
      </section>

      <section class="section with-background bg-variant md:pt-0 py-28" id="references">
        <header class="section-header flex flex-col gap-2 lg:gap-4">
          <h2 class="text-2xl">Projects and references</h2>
          <p>Here are some projects I did or I have been a part of</p>
        </header>

        <div class="gallery pb-8">
          <Grid variant="small">
            {
              projects.map((project, index) => (
                <a
                  href={`/projects/${project.id}`}
                  class="group relative w-full h-72 rounded-2xl overflow-hidden transition-all duration-300 hover:scale-105 card-box cursor-pointer"
                >
                  <div
                    class={`flex items-center justify-center h-full w-full bg-center bg-cover bg-no-repeat`}
                    style={`background-image: url('${project.data.img}'); ${project.data.padding ? 'background-size: 80%' : ''}`}
                  >
                    <div class="absolute inset-0 bg-black bg-opacity-40 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center p-4">
                      <h3 class="text-white text-xl font-semibold text-center">{project.data.title}</h3>
                    </div>
                  </div>
                  <div class="absolute inset-0 border border-gray-800 rounded-2xl opacity-20 group-hover:opacity-40 transition-opacity duration-300" />
                </a>
              ))
            }
          </Grid>
        </div>
      </section>
    </main>
  </div>
</BaseLayout>
