---
interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
	titleSize?: string
}

const { tagline, title, align = "start", titleSize = "7xl" } = Astro.props;
---

<div class={`text-${align} text-lg flex flex-col gap-4 mt-16 md:mt-14 md:min-h-0 min-h-[100vh]`}>
	<div class={`flex flex-col gap-2 text-${align} md:text-${align}`}>
		<h1 class={`text-${titleSize} md:text-7xl font-extrabold text-center font-rethink bg-gradient-to-r from-blue-600 via-purple-400 to-indigo-400 inline-block text-transparent bg-clip-text`}>{title}</h1>
		{tagline && <p class="md:text-2xl text-lg mt-2">{tagline}</p>}
	</div>
	<slot />
</div>
